# Dependencias
node_modules/

# Build
dist/

# Variables de entorno
.env
.env.local
.env.production.local
.env.development.local

# Cache y logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
