[TEMPLATE]
# PostgreSQL (producción):
DATABASE_URL="postgresql://usuario:password@host:5432/nombre_db"

# SQLite (desarrollo local):
# DATABASE_URL="file:./dev.db"

JWT_SECRET="mi-clave-secreta-123"
PORT=3001
